<?xml version="1.0"?>
<configuration>  
    <connectionStrings>
      <add name="KaraokeEntities" connectionString="metadata=res://*/Karaoke.csdl|res://*/Karaoke.ssdl|res://*/Karaoke.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KHOA\SQLEXPRESS;initial catalog=Karaoke;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <!--<add name="KaraokeEntities" connectionString="metadata=res://*/Karaoke.csdl|res://*/Karaoke.ssdl|res://*/Karaoke.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Karaoke.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
